.blog_interna {
  background-image: url(../images/blog.jpg);
}

.blog_listagem {
  padding-top: 70px;
}

.postagem_blog_interna h3 {
  font-size: 25px;
}

.postagem_blog_interna .dentro_blog p {
  margin-top: 0;
  font-size: 14px;
}

.postagem_blog_interna .dentro_blog .data {
  margin-bottom: 0;
}
