@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,600i,700&display=swap");
@font-face {
  font-family: 'sans_culottesregular';
  src: url("fonts/sansc___-webfont.woff2") format("woff2"), url("fonts/sansc___-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("fonts/Flaticon.woff2") format("woff2"), url("fonts/Flaticon.woff") format("woff"), url("fonts/Flaticon.ttf") format("truetype"), url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-whatsapp-logo:before {
  content: "\f100";
}

.flaticon-placeholder:before {
  content: "\f101";
}

.flaticon-phone-contact:before {
  content: "\f102";
}

.flaticon-shopping-cart:before {
  content: "\f103";
}

.flaticon-loupe:before {
  content: "\f104";
}

.flaticon-account:before {
  content: "\f105";
}

.flaticon-delivery-truck:before {
  content: "\f106";
}

.flaticon-credit-cards-payment:before {
  content: "\f107";
}

.flaticon-protection-shield-with-a-check-mark:before {
  content: "\f108";
}

.flaticon-stopwatch:before {
  content: "\f109";
}

.flaticon-phone-call:before {
  content: "\f10a";
}

.flaticon-email:before {
  content: "\f10b";
}

body {
  font-family: 'Poppins', sans-serif;
}

.sprite {
  background: url(../images/sprite.png) no-repeat;
}

.container {
  padding: 0 !important;
}

/* header */
header {
  position: relative;
  z-index: 9;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);
}

.topo_menor {
  background: #01013b;
  height: 38px;
  display: flex;
  align-items: center;
  color: #FFF;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.topo_menor i {
  color: #FFF;
  margin-right: 17px;
  font-size: 19px;
  line-height: 17px;
  position: relative;
  top: 2px;
}

.topo_menor a {
  color: #FFF;
  letter-spacing: 0.02em;
}

.topo_menor .whats {
  padding-right: 18px;
  border-right-style: dotted;
  border-color: #ffffff9e;
  border-right-width: 2px;
}

.topo_menor .fixo {
  padding-left: 18px;
}

.topo_maior {
  height: 118px;
  display: flex;
  align-items: center;
}

.topo_maior .logo {
  width: 338px;
  display: table;
  float: left;
  vertical-align: middle;
  padding: 0;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  height: 118px;
  position: relative;
  z-index: 9;
}

.topo_maior .logo:before {
  border-right: 7px solid #01014b;
  right: 8px;
  width: 120%;
  -webkit-transform: skew(-22deg);
  -moz-transform: skew(-22deg);
  -o-transform: skew(-22deg);
  -ms-transform: skew(-22deg);
  transform: skew(-22deg);
}

.topo_maior .logo:after {
  right: 16%;
  width: 2000px;
}

.topo_maior .logo:before, .topo_maior .logo:after {
  background-color: #01014b;
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;
}

.topo_maior .logo .logo_aqui {
  display: flex;
  align-items: center;
  height: 100%;
}

.topo_maior ul {
  height: 100%;
  align-items: center;
}

.topo_maior ul a {
  color: #01014b;
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 1;
  height: 118px;
  display: flex;
  align-items: center;
}

.topo_maior ul a:after {
  background-color: #141495;
  content: "";
  height: 100%;
  left: -9%;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: skew(-22deg);
  transition: all 0.5s ease 0s;
  width: 109%;
}

.topo_maior ul a:hover:after {
  opacity: 1;
  z-index: -1;
}

.topo_maior ul a:hover {
  color: #FFF;
}

.topo_maior ul .active {
  color: #FFF;
}

.topo_maior ul .active:after {
  opacity: 1;
  z-index: -1;
}

.topo_maior ul .padding-home {
  padding-left: 20px;
}

.topo_maior .icones_ecommerce {
  align-items: center;
}

.topo_maior .icones_ecommerce i {
  font-size: 29px;
  font-weight: 500;
}

.topo_maior .icones_ecommerce a.user {
  color: #000;
  text-decoration: none;
}

.topo_maior .icones_ecommerce .dropdown-menu {
  border: none;
  box-shadow: 1px 1px 6px 3px #00000026;
  text-transform: uppercase;
  font-size: 13px;
  min-width: 9rem;
}

.topo_maior .icones_ecommerce .dropdown-menu a.dropdown-item {
  padding: 7px 13px;
  font-weight: 500;
}

.topo_maior .icones_ecommerce .carrinho {
  position: relative;
  transform: scaleX(-1);
  margin-right: 28px;
  cursor: pointer;
}

.topo_maior .icones_ecommerce .carrinho span {
  position: absolute;
  left: -3px;
  top: 0;
  transform: scaleX(-1);
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #d51a15;
  color: #FFF;
  font-size: 7px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topo_maior .icones_ecommerce .search {
  margin-right: 28px;
}

.carousel-inner .bg {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.carousel-inner .legenda {
  position: absolute;
  top: 24.5%;
}

.carousel-inner .legenda h2 {
  font-family: "sans_culottesregular";
  font-size: 37px;
  color: #FFF;
  text-transform: uppercase;
}

.carousel-inner .legenda h2 span {
  font-size: 51px;
  display: block;
}

.carousel-inner .legenda h4 {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #FFF;
}

.carousel-inner .legenda .comprar {
  color: #fff;
  background: #d51a15;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.14em;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  outline: 0;
  font-size: 15px;
  padding: 14px 28px;
  display: inline-block;
  transform: skew(-21deg);
  margin-top: 30px;
  margin-left: -5px;
  /* Un-skew the text */
}

.carousel-inner .legenda .comprar:visited {
  color: #fff;
}

.carousel-inner .legenda .comprar:hover {
  background: #000;
}

.carousel-inner .legenda .comprar > span {
  display: inline-block;
  transform: skew(21deg);
}

.carousel-inner .moto {
  position: absolute;
  top: 14%;
  left: 43%;
}

/* secao exclusiva*/
.exclusivo {
  background: #01014b;
  height: 95px;
  display: flex;
  align-items: center;
}

.exclusivo i {
  color: #FFF;
  font-size: 48px;
  margin-right: 25px;
}

.exclusivo h2 {
  color: #FFF;
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  display: inline-table;
  margin-bottom: 0;
}

.exclusivo h2 span {
  display: block;
  font-weight: 300;
  font-size: 13px;
}

.exclusivo .envio {
  align-items: center;
}

.exclusivo .flaticon-protection-shield-with-a-check-mark {
  font-size: 42px;
}

.titulo {
  font-family: "sans_culottesregular";
  font-size: 23px;
  color: #01014b;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  background: url(../images/bg-titulo.png) no-repeat center top;
  text-align: center;
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: center;
  margin-bottom: 63px;
}

.destaque {
  padding-top: 45px;
}

.cada_produto {
  padding: 0 10px;
}

.dentro_produto {
  padding-bottom: 28px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
  transition: 0.5s;
  border-radius: 6px;
  overflow: hidden;
}

.dentro_produto:hover {
  box-shadow: 1px 6px 14px 0px rgba(0, 0, 0, 0.29);
}

.dentro_produto:hover .adicionar {
  background: #d51a15;
}

.dentro_produto .imagem_produto {
  position: relative;
}

.dentro_produto .imagem_produto img {
  max-width: 100%;
}

.dentro_produto .imagem_produto .mascara {
  position: absolute;
  top: 16px;
  left: 12px;
}

.dentro_produto .imagem_produto .mascara span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  color: #01014b;
  border: 1px solid #01014b;
  padding: 4px 16px;
}

.dentro_produto .texto_produto {
  padding: 0 12px;
}

.dentro_produto h3 {
  font-weight: 600;
  font-size: 15px;
  color: #1e1e1e;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #c4c4c4;
}

.dentro_produto h4 {
  font-weight: 400;
  font-size: 14px;
  color: #1e1e1e;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid #c4c4c4;
}

.dentro_produto h4 span {
  color: #07770e;
}

.dentro_produto h4 .fora {
  color: #d51a15;
}

.dentro_produto .preco {
  font-weight: bold;
  color: #d51a15;
  font-size: 17px;
  padding-top: 13px;
  padding-bottom: 21px;
}

.dentro_produto .preco span {
  display: block;
  color: #515151;
  font-size: 11px;
  font-weight: 400;
  margin-top: -4px;
}

.dentro_produto .adicionar {
  text-transform: uppercase;
  color: #FFF;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  background: #c7c5c5;
  border-radius: 30px;
}

.dentro_produto .adicionar:hover {
  background: #d51a15;
}

.dentro_produto .adicionar i {
  font-size: 20px;
  color: #FFF;
  padding-right: 8px;
  font-weight: normal;
}

.categorias {
  padding-top: 58px;
}

.categorias .cada_categoria {
  position: relative;
}

.categorias .cada_categoria .dentro_categoria {
  overflow: hidden;
  position: relative;
}

.categorias .cada_categoria .dentro_categoria:before {
  position: absolute;
  top: 0;
  right: -36%;
  width: 74%;
  height: 100%;
  background: #d51a15;
  content: '';
  mix-blend-mode: multiply;
  transform: skew(-60deg);
  transition: width .7s;
}

.categorias .cada_categoria .dentro_categoria:hover:before {
  width: 179%;
}

.categorias .cada_categoria .dois_tempos:before {
  background: #25258c;
}

.categorias .cada_categoria img {
  max-width: 100%;
}

.categorias .cada_categoria .texto_categoria {
  position: absolute;
  bottom: 31px;
  right: 19px;
}

.categorias .cada_categoria .texto_categoria h3 {
  font-weight: 600;
  color: #FFF;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 27px;
  margin-bottom: 0;
  text-align: right;
}

.categorias .cada_categoria .texto_categoria h4 {
  font-family: "sans_culottesregular";
  color: #FFF;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 30px;
}

.categorias .cada_categoria .texto_categoria .ver {
  font-size: 13px;
  color: #FFF;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  font-weight: 300;
  float: right;
  position: relative;
}

.categorias .cada_categoria .texto_categoria .ver:before {
  content: '';
  position: absolute;
  height: 1px;
  background: #FFFF;
  width: 100px;
  left: -110px;
  top: 50%;
  transform: translateY(-50%);
}

.tempos {
  padding-top: 52px;
}

.ligamos {
  background: url(../images/bg-liga.png) no-repeat center top;
  height: 190px;
  display: flex;
  align-items: center;
  margin-top: 53px;
  margin-bottom: 53px;
}

.ligamos .d-flex {
  display: flex;
  align-items: center;
}

.ligamos h2 {
  font-weight: bold;
  color: #FFF;
  font-size: 39px;
  margin-right: 42px;
  line-height: 39px;
  margin-bottom: 0;
}

.ligamos input {
  color: #FFF;
  background: #ffffff3e;
  font-weight: 500;
  font-size: 13px;
  height: 49px;
  border-radius: 30px;
  width: 280px;
  border: none;
  margin-right: 32px;
  padding-left: 23px;
}

.ligamos input::placeholder {
  color: #FFF;
}

.ligamos button {
  background: #d51a15;
  color: #FFF;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  height: 49px;
}

.blog {
  padding-bottom: 130px;
}

.dentro_blog .imagem_post {
  margin-right: 28px;
  border-radius: 5px;
  overflow: hidden;
  min-width: 266px;
}

.dentro_blog .data {
  color: #01014b;
  font-size: 14px;
  letter-spacing: 0.06em;
  font-family: "sans_culottesregular";
  text-transform: uppercase;
  margin-bottom: 10px;
}

.dentro_blog .data span {
  font-size: 37px;
}

.dentro_blog h3 {
  text-transform: uppercase;
  color: #151515;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.06em;
  margin-bottom: 3px;
}

.dentro_blog .por {
  color: #151515;
  font-size: 12px;
  letter-spacing: 0.06em;
  padding-bottom: 13px;
  border-bottom: 1px solid #d0d0d0;
}

.dentro_blog .por span {
  color: #d51a15;
}

.dentro_blog p {
  font-size: 13px;
  color: #9ea2a7;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin-top: 22px;
  margin-bottom: 28px;
}

.dentro_blog .leia {
  height: 43px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background: #d51a15;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 16px;
  border-radius: 30px;
}

.dentro_blog .leia:hover {
  background: #01014b;
}

footer {
  color: #FFF;
}

footer .f_top {
  padding-top: 75px;
  background: #01014b;
}

footer .f_top h2 {
  font-weight: 600;
  font-size: 18px;
  color: #FFF;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 30px;
}

footer .f_top ul.lista_footer {
  padding-left: 0;
  list-style: none;
  font-size: 13px;
  line-height: 27px;
}

footer .f_top .lista_contato .texto_c_footer {
  font-size: 13px;
  line-height: 22px;
}

footer .f_top .lista_contato .icone_c_footer {
  margin-right: 10px;
}

footer .f_top .lista_contato .icone_c_footer i {
  border-radius: 50%;
  border: 1px solid #FFF;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 34px;
  height: 34px;
  align-items: center;
}

footer .f_top .lista_contato .icone_c_footer i:before {
  font-size: 17px;
}

footer .f_top .lista_contato .icone_c_footer i.flaticon-stopwatch:before {
  position: relative;
  left: 1px;
}

footer .f_top .lista_contato .f_contato {
  margin-bottom: 20px;
}

footer .f_top h3 {
  font-weight: 600;
  font-size: 11px;
  margin-top: 13px;
  color: #FFF;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 12px;
}

footer .f_top .seguranca_f img {
  max-width: 100px;
}

footer .f_top form input {
  background: transparent;
  border: 1px solid #d51a15;
  border-radius: 20px;
  font-size: 12px;
  color: #FFF;
  font-weight: normal;
  height: 38px;
}

footer .f_top form input::placeholder {
  color: #FFF;
  text-transform: uppercase;
}

footer .f_top form input:focus {
  background-color: #01011f;
  color: #FFF;
}

footer .f_top form button {
  background: #d51a15;
  border: 1px solid #d51a15;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 12px;
  font-weight: 600;
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 8px;
}

footer .f_bottom {
  background: #d51a15;
  padding: 14px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

footer .f_bottom a {
  color: #FFF;
}

/* ajustes loja */
.carrinho_hide {
  transform: scaleX(-1);
  position: absolute;
  background: #FFF;
  width: 315px;
  border-radius: 0;
  top: 81px;
  overflow: hidden;
  box-shadow: -1px 3px 4px 1px #00000017;
  padding: 10px 14px;
  padding-top: 27px;
  display: none;
}

.carrinho_hide .cada_item_carrinho {
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc38;
  padding-top: 10px;
}

.carrinho_hide .cada_item_carrinho:last-child {
  border-bottom: none;
}

.carrinho_hide h3 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 0px;
}

.carrinho_hide .preco_carrinho {
  font-size: 13px;
}

.carrinho_hide a {
  color: #d4d4d4;
  font-weight: 300;
}

.slick-prev {
  left: 0;
  background: url(../images/sprite.png) no-repeat;
  background-position: -1px 0;
  width: 22px;
  height: 45px;
  z-index: 10;
}

.slick-next {
  right: 0;
  background: url(../images/sprite.png) no-repeat;
  background-position: -26px 0;
  width: 22px;
  height: 45px;
  z-index: 10;
}

.slick-prev:before, .slick-next:before {
  content: '';
  display: none;
}

.titulo_quem {
  position: relative;
  height: 441px;
  background: #01014b;
}

.titulo_quem h1 {
  display: inline-block;
  font-size: 51px;
  line-height: 60px;
  letter-spacing: 0.025em;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.titulo_quem h1 span {
  font-weight: 900;
}

.titulo_quem .titulo_align {
  display: flex;
  align-self: flex-end;
}

.imagem_direita {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  background: url(../images/historia.jpg);
  height: 441px;
}

.efeito_titulo {
  background: url(../images/effect_titulo.png) no-repeat 43% 0%;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  mix-blend-mode: multiply;
}

.texto_quem {
  padding-top: 42px;
}

.texto_quem .slick-list {
  margin-right: 87px;
}

.texto_quem p {
  color: #575555;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.025em;
  margin-bottom: 21px;
}

.texto_quem .slick-next {
  right: 87px;
}

.texto_quem h2 {
  color: #01014b;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 29px;
}

.paragrafo {
  padding-right: 25px;
}

.contato_historia {
  margin-top: 80px;
  padding-bottom: 83px;
}

.contato_historia h2 {
  font-weight: bold;
  color: #01014b;
  font-size: 35px;
  margin-bottom: 42px;
}

.contato_historia iframe {
  width: 100%;
  height: 333px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);
}

.contato_historia .lista_contato .texto_c_footer {
  font-size: 17px;
  line-height: 24px;
}

.contato_historia .lista_contato .icone_c_footer {
  margin-right: 23px;
}

.contato_historia .lista_contato .icone_c_footer i {
  border-radius: 50%;
  color: #202020;
  border: 1px solid #202020;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 34px;
  height: 34px;
  align-items: center;
}

.contato_historia .lista_contato .icone_c_footer i:before {
  font-size: 17px;
}

.contato_historia .lista_contato .icone_c_footer i.flaticon-stopwatch:before {
  position: relative;
  left: 1px;
}

.contato_historia .lista_contato .f_contato {
  margin-bottom: 20px;
}

.titulo_pagina_interna {
  background: url(../images/listagem.jpg) center top;
  height: 226px;
  display: flex;
  align-items: center;
  position: relative;
}

.titulo_pagina_interna .container {
  height: 100%;
}

.titulo_pagina_interna h1 {
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 0.18em;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumbv2 {
  position: absolute;
  bottom: -20px;
  height: 44px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  background: #FFF;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.05);
}

.breadcrumbv2 a {
  color: #000;
}

.breadcrumbv2 .home_icon {
  background-position: -57px -25px;
  min-width: 21px;
  height: 20px;
  margin-right: 18px;
}

.breadcrumbv2 .quadradinho {
  margin: 0 19px;
  color: #0a0158;
}

.listagem_produtos {
  background: #f6f6f6;
  padding-top: 70px;
  padding-bottom: 120px;
}

.sidebar .dentro_sidebar {
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);
  padding-bottom: 15px;
}

.sidebar .buscar_s {
  position: relative;
}

.sidebar .buscar_s input {
  background: #f6f6f6;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #1a1a1a;
  padding: 13px 17px;
  width: 100%;
  border: 0;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);
}

.sidebar .buscar_s input::placeholder {
  color: #1a1a1a;
}

.sidebar .buscar_s button {
  position: absolute;
  bottom: 11px;
  right: 42px;
  background-position: -85px -2px;
  min-width: 24px;
  border: 0;
  height: 24px;
}

.sidebar .cada_sidebar {
  position: relative;
  padding-top: 45px;
  border-top: 1px solid #f6f6f6;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 40px;
}

.sidebar .cada_sidebar:after {
  content: '';
  width: 2px;
  height: 22px;
  background: #0a0158;
  top: 0;
  position: absolute;
  left: 25px;
}

.sidebar .cada_sidebar ul {
  list-style: none;
}

.sidebar .cada_sidebar ul li {
  margin-bottom: 18px;
  position: relative;
}

.sidebar .cada_sidebar ul li:before {
  position: absolute;
  top: 1px;
  left: -39px;
  content: '';
  background: url("../images/sprite.png") no-repeat -57px -1px;
  width: 20px;
  height: 20px;
}

.sidebar .cada_sidebar ul li a {
  color: #131313;
  font-size: 16px;
}

.sidebar .cada_sidebar h3 {
  font-size: 25px;
  font-weight: bold;
  color: #0a0158;
  margin-bottom: 23px;
}

.sidebar .cada_sidebar .lista_tags a {
  border: 3px solid #cdcdcd;
  text-transform: uppercase;
  font-size: 14px;
  color: #01014b;
  padding: 12px 10px;
  margin-right: 16px;
  display: inline-block;
  width: 86px;
  margin-bottom: 15px;
  text-align: center;
}

.sidebar .cada_sidebar .lista_tags a:hover {
  background: #cdcdcd;
}

.listagem_interna {
  margin-bottom: 30px;
}

.listagem_interna img {
  width: 100%;
}

.listagem_interna .dentro_produto .texto_produto {
  padding: 0px 23px;
}

.produto_info {
  background: #f6f6f6;
  padding-top: 70px;
}

.info_product .breadcrumbv3 {
  background: #FFF;
  max-width: 60%;
  justify-content: center;
  padding: 2px 0;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);
}

.info_product .breadcrumbv3 a {
  text-transform: uppercase;
  color: #01014b;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.06em;
}

.info_product .breadcrumbv3 span {
  margin: 0 8px;
  color: #01014b;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.06em;
}

.info_product .breadcrumbv3 .home_icon {
  background-position: -57px -25px;
  min-width: 21px;
  height: 20px;
}

.info_product h2 {
  font-family: "sans_culottesregular";
  font-size: 37px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #01014b;
  line-height: 55px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.info_product .preco_info {
  color: #e60000;
  font-size: 40px;
  font-weight: 600;
}

.info_product .preco_info span {
  font-weight: 500;
  font-size: 26px;
  margin-right: 6px;
}

.info_product .emate_info {
  color: #414141;
  font-size: 14px;
  letter-spacing: 0.06em;
  font-weight: 400;
  margin-bottom: 23px;
}

.info_product .caixa_texto {
  color: #414141;
  font-size: 14px;
  letter-spacing: 0.06em;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}

.info_product h4 {
  font-size: 16px;
  font-weight: 500;
  color: #414141;
  margin-bottom: 10px;
}

.info_product .quantidade input {
  width: 80px;
  height: 43px;
  background: #FFF;
  border: 0;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #414141;
  font-size: 16px;
  text-align: center;
}

.info_product .adicionar {
  text-transform: uppercase;
  color: #FFF;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  background: #e60000;
  padding: 0 38px;
  margin-left: 76px;
  border-radius: 30px;
}

.info_product .adicionar:hover {
  background: #01014b;
}

.info_product .adicionar i {
  font-size: 20px;
  color: #FFF;
  padding-right: 8px;
  font-weight: normal;
}

.info_product .calcular_frete input {
  width: 208px;
  height: 43px;
  background: #FFF;
  border: 0;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: #414141;
  font-size: 16px;
  padding-left: 55px;
}

.info_product .calcular_frete i {
  font-size: 21px;
  color: #414141;
  position: absolute;
  top: 7px;
  left: 17px;
}

.info_product .calcular_frete button {
  background: #e60000;
  text-transform: uppercase;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  font-weight: 600;
  letter-spacing: 0.1em;
  height: 33px;
  margin-left: 7px;
  border-radius: 30px;
  border: 0;
  font-size: 11px;
}

.info_product .calcular_frete button:hover {
  background: #01014b;
}

.compartilhar_produto h4 {
  margin-bottom: 20px;
}

.compartilhar_produto a {
  margin-right: 36px;
}

.compartilhar_produto a:last-child {
  margin-right: 0;
}

.compartilhar_produto .fb_i {
  background-position: -1px -69px;
  width: 12px;
  height: 24px;
}

.compartilhar_produto .ig_i {
  background-position: -52px -69px;
  width: 24px;
  height: 24px;
}

.compartilhar_produto .wp_i {
  background-position: -113px -70px;
  width: 24px;
  height: 23px;
}

.compartilhar_produto .ma_i {
  background-position: -174px -69px;
  width: 25px;
  height: 24px;
}

.desc_produto {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);
  background: #FFF;
  padding-top: 40px;
  padding-bottom: 7px;
  margin-top: 86px;
  margin-bottom: 76px;
}

.desc_produto h2 {
  color: #01014b;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.desc_produto p {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #414141;
  margin-bottom: 27px;
}

.confira_tambem {
  background: #f6f6f6;
  padding-bottom: 70px;
}

.blog_interna {
  background-image: url(../images/blog.jpg);
}

.blog_listagem {
  padding-top: 70px;
}

.postagem_blog_interna h3 {
  font-size: 25px;
}

.postagem_blog_interna .dentro_blog p {
  margin-top: 0;
  font-size: 14px;
}

.postagem_blog_interna .dentro_blog .data {
  margin-bottom: 0;
}

.bg_cinza {
  background: #f6f6f6;
}

.hamburger {
  position: absolute;
  display: none;
  top: 116px;
  left: 31px;
  cursor: pointer;
  z-index: 20;
  padding: 10px 15px 5px;
}

.hamburger span {
  vertical-align: middle;
}

.hamburger .bars {
  display: block;
  position: relative;
  width: 40px;
  height: 4px;
  background: #e60000;
  border-radius: 1px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hamburger .bars:before, .hamburger .bars:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 4px;
  background: #e60000;
  border-radius: 1px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hamburger .bars:before {
  top: 8px;
}

.hamburger .bars:after {
  bottom: 8px;
}

.open_menu .hamburger .bars {
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 40px;
}

.open_menu .hamburger .bars::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.open_menu .hamburger .bars::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile_menu {
  width: 290px;
  height: 100%;
  padding: 75px 20px 0;
  background: #233372;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
  position: fixed;
  right: -100%;
  top: 0;
  opacity: 0;
  z-index: 999999;
  margin-top: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mobile_menu ul li a {
  color: #ffffff;
  height: auto !important;
  width: 100%;
  padding: 13px 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
  transition: .5s;
  display: block;
  border-radius: 0;
  letter-spacing: 0.1em;
  margin-left: 0;
  border-bottom: 1px solid #fff;
}

.open_menu .hamburger {
  top: 29px;
  z-index: 9999999;
  left: 80%;
}

.mobile_menu ul {
  padding: 0;
  list-style: none;
  text-align: left;
}

.mobile_menu li {
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.mobile_menu a:hover {
  color: white;
}

.open_menu .mobile_menu {
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mobile_menu:hover {
  overflow-y: auto;
}

@media (max-width: 480px) {
  .hamburger {
    display: block;
  }
  .navigation_new {
    display: none;
  }
  .topo_maior .container {
    flex-wrap: wrap;
    max-height: 100%;
  }
  .topo_maior .logo:before, .topo_maior .logo:after {
    display: none;
  }
  .topo_maior {
    background: #01014b;
    height: auto;
  }
  .topo_maior .logo {
    background: none;
    width: 100%;
    float: none;
    margin-top: 0;
    height: 68px;
    display: flex;
    justify-content: center;
  }
  .topo_maior .logo .logo_aqui {
    justify-content: center;
  }
  .endereco {
    display: none;
  }
  .topo_maior .icones_ecommerce {
    align-items: center;
    padding-right: 38px;
    padding-bottom: 21px;
  }
  .topo_maior .icones_ecommerce i {
    color: #FFF;
  }
  .slider_produtos .slick-list {
    margin: 0 37px;
  }
  .moto img {
    width: 100%;
  }
  .carousel-inner .moto {
    top: 37%;
    left: 0%;
  }
  .carousel-inner .legenda {
    position: absolute;
    top: 5.5%;
    text-align: center;
    width: 100%;
  }
  .carousel-inner .legenda h2 {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .carousel-inner .legenda h2 span {
    font-size: 44px;
  }
  .carousel-inner .legenda h4 {
    font-size: 15px;
  }
  .carousel-inner .legenda .comprar {
    margin-top: 9px;
    position: relative;
    z-index: 3;
  }
  .topo_maior .icones_ecommerce .dropdown-menu {
    left: -89px !important;
  }
  .slick-next {
    right: 2px;
  }
  .carrinho_hide {
    top: 64px;
    left: -132px;
  }
  .ligamos {
    height: auto;
    padding-top: 38px;
    padding-bottom: 38px;
    background-size: cover;
  }
  .ligamos .d-flex {
    flex-wrap: wrap;
  }
  .ligamos h2 {
    margin-right: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 21px;
  }
  .ligamos input {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .ligamos button {
    margin: 0 50px;
  }
  .categorias .cada_categoria {
    position: relative;
    margin-bottom: 11px;
  }
  .dentro_blog {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 23px;
  }
  .dentro_blog .imagem_post {
    margin-right: 0;
  }
  .texto_post {
    text-align: center;
    margin: 0 54px;
  }
  .dentro_blog .leia {
    margin: 0 auto;
  }
  .blog {
    padding-bottom: 50px;
  }
  footer .f_top {
    padding-top: 33px;
    text-align: center;
  }
  footer .f_top .lista_contato .f_contato {
    margin-bottom: 5px;
    margin-left: 74px;
  }
  footer .f_top h2 {
    margin-bottom: 12px;
    margin-top: 12px;
  }
  .seguranca_f {
    margin: 0 70px;
  }
  footer .f_top {
    padding-bottom: 33px;
  }
}

.exclusivo .slick-list {
  margin: 0 21px;
}
